

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.zipcode-search, .find-me {
	text-align: center;
	z-index: 100;
}

.new-search {
	position: absolute;
	right: 0;
	top: 0;
}

#results-container {
	width: 200px;
	color: black;
	font-size: .5em;
	padding-left: 10px;
	background-color: gainsboro;
	position: absolute;
	right: 0;
	top: 10;
	z-index: 10;
}

.markerHeading {
	font-size: 1.2em;
}

.hidden {
	display: none;
}
