
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  display: block;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* background image landing page */
html {
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

/* element styles for landing page */
.search-container {
	height: 90vh;
	display: block;
	text-align: center;
	margin: 200px 0 100px 0;
}

.page-title {
	font-family: "Cinzel";
	font-size: 3em;
	color: #ffffff;
}

.zipcode-search {
	text-align: center;
}

.or-img {
	vertical-align: middle;
	margin: 0 0 0 15px;
}

.or-img-mobile {
	display: none;
}

.address {
	font-size: 1em;
	font-family: "Raleway";
	opacity: .85;
}

.submit {
	font-family: "Raleway";
	border: 2px solid #ffffff;
	margin-left: 10px;
	color: #ffffff;
	font-size: 1em;
	background-color: transparent;
}

.find-me {
	font-family: "Raleway";
	border: 2px solid #ffffff;
	margin-left: 10px;
	color: #ffffff;
	font-size: 1em;
	background-color: transparent;
}

.submit, .find-me:hover {
	cursor: pointer;
} 

/* new element styles for results page */
.display {
	width: 300px;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	text-align: left;
	opacity: .85;
	overflow: auto;
}

.new-page-title {
	font-family: "Cinzel";
	font-size: 1.5em;
	color: #000000;
	letter-spacing: 3px;
	padding-left: 10px
}

.new-address {
	font-size: .8em;
	margin-left: 20px;
}

.new-submit {
	border: 1px solid #000000;
	margin: 10px;
	color: #000000;
	font-size: .8em;
	background-color: transparent;
}

#results-container {
	font-family: "Raleway", sans-serif;
	font-size: .5em;
	padding-left: 20px;
	overflow: auto;
}

.list-paragraph {
	font-size: 1.5em;
}

/* info window styling */
a:link {
	text-decoration: underline;
	color: #48a5e5;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	color: #48a5e5;
	cursor: pointer;

}

.markerHeading {
	font-size: 1.5em;
}

.hidden {
	display: none;
}

/* mobile */
@media only screen and (max-device-width: 480px) {
	.search-container {
		margin: 150px 0 0 0;
	}

	.page-title {
		font-size: 2.5em;
	}
	.address, .submit {
		display: inline-block;
		margin: 10px auto 0 auto;
	}

	.address {
		margin-left: 15px;
	}

	.or-img {
		display: none;
	}

	.or-img-mobile {
		display: block;
		margin: 10px auto 0 auto;
	}

	.new-page-title {
		font-size: 1.25em;
		color: #000000;
		letter-spacing: 3px;
		padding-left: 10px
	}

	.find-me {
		display: block;
		margin: auto;
	}

	.new-search {
		text-align: left;
		display: inline-block;
	}

	.new-address {
		font-size: .8em;
		display: inline-block;
		margin: 0 0 0 20px;
	}

	.new-submit {
		border: 1px solid #000000;
		margin: 10px;
		color: #000000;
		font-size: .8em;
		background-color: transparent;
		display: inline-block;
	}

	.display {
		width: 100%;
		position: absolute;
		bottom: 0;
		top: 70%;
		background-color: #ffffff;
		text-align: left;
		opacity: .85;
		z-index: 10;
		overflow: scroll;
	}
	
	.hidden {
		display: none;
	}
}

